table {
    border-collapse: collapse;
    width: auto;
    border: 2px solid rgb(0, 0, 0);
}

th, td {
    border: 1px solid rgb(0, 0, 0);
    padding: 8px;
    text-align: center;
}

/* Estilizar cabeçalho da tabela */
th {
    background-color: #f2f2f2;
    color: black;
}
